.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

footer .hikinglinks {
    float: right;
}

main .hikerlogform{
    max-width: 500px;
    border: 5px solid #386746;
    padding: 20px;
}

main .examplepost{
    max-width: 600px;
    border: 5px solid #386746;
    padding: 20px;
}
