footer .hikinglinks {
    float: right;
}

main .hikerlogform{
    max-width: 500px;
    border: 5px solid #386746;
    padding: 20px;
}

main .examplepost{
    border: 5px solid #386746;
    margin: 40px;
    padding: 20px;
}
